<VirtualHost *>
 ServerName projectname.cougaar.org
 DocumentRoot /var/www/gforge-projects/projectname
 CustomLog /usr/local/var/httpd/log/projectname-access_log common
 ErrorLog /usr/local/var/httpd/log/projectname-error_log
</VirtualHost>

#PLACEHOLDER#

