<VirtualHost *>
 ServerName projectname.cougaar.org
 DocumentRoot /var/www/gforge-projects/projectname
 CustomLog /var/log/httpd/projectname-access_log common
 ErrorLog /var/log/httpd/projectname-error_log
</VirtualHost>

#PLACEHOLDER#

